name: Validate
on:
  push:
    branches: [main]
  pull_request:
  workflow_call:

jobs:
  checks:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: |
          bun format:check
          bun run --cwd packages/fake-browser check
          bun run --cwd packages/isolated-element check
          bun run --cwd packages/isolated-element-demo check
          bun run --cwd packages/job-scheduler check
          bun run --cwd packages/match-patterns check
          bun run --cwd packages/messaging check
          bun run --cwd packages/messaging-demo check
          bun run --cwd packages/proxy-service check
          bun run --cwd packages/proxy-service-demo check
          bun run --cwd packages/storage check

  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run build

  tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: |
          bun run --cwd packages/fake-browser test:coverage
          bun run --cwd packages/isolated-element test:coverage
          bun run --cwd packages/job-scheduler test:coverage
          bun run --cwd packages/match-patterns test:coverage
          bun run --cwd packages/messaging test:coverage
          bun run --cwd packages/proxy-service test:coverage
          bun run --cwd packages/storage test:coverage
